html::-webkit-scrollbar {
    display: none;
}

@media (width: 3840px) and (height: 2160px) {
    .success {
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 2vh;
        border: solid 3px rgb(15, 158, 115);
        box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
        font-size: 1.5vh;
        height: 60px;
    }

    .primary {
        background-color: rgba(0, 0, 0, 0.9);
         border-radius: 2vh;
        border: solid 3px rgb(158, 108, 15);
        box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
        font-size: 1.5vh;
        height: 60px;
    }

    .error {
        background-color: rgba(0, 0, 0, 0.9);
         border-radius: 2vh;
        border: solid 3px rgb(158, 15, 15);
        box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
        font-size: 1.5vh;
        height: 60px;
    }

    .police {
        background-color: rgba(0, 0, 0, 0.9);
         border-radius: 2vh;
        border: solid 3px rgb(15, 25, 158);
        box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
        font-size: 1.5vh;
        height: 60px;
    }

    .ambulance {
        background-color: rgba(0, 0, 0, 0.9);
         border-radius: 2vh;
        border: solid 3px rgb(158, 15, 15);
        box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
        font-size: 1.5vh;
        height: 60px;
    }

}

.success {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 2vh;
    border: solid 3px rgb(15, 158, 115);
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    height: 60px;
}

.primary {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 2vh;
    border: solid 3px rgb(158, 108, 15);
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    height: 60px;
}

.error {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 2vh;
    border: solid 3px rgb(158, 15, 15);
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    height: 60px;
}

.police {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 2vh;
    border: solid 3px rgb(15, 25, 158);
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    height: 60px;
}

.ambulance {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 2vh;
    border: solid 3px rgb(158, 15, 15);
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    height: 60px;
}